.ghe { /* ghế thường */
    width: 32px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(128, 121, 121);
    color: #fff;
}

.gheDaDat {
    background-color: rgb(228, 13, 13);
    cursor: no-drop;
}

.gheDangDat {
    background-color: rgb(17, 168, 17) !important;
}

.gheVip {
    background-color: rgb(228, 74, 8);
}
